<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Covid-19 ile Mücadele Konferansı</h2>
                <hr class="light">
                <p class="text-faded">Dünyayı etkisi altına alan ve büyük ölçüde tehlike arz eden bu virüse karşı dünya genelinde nasıl önlemler alınabileceği ve aşı etkinliğinin çoğalması için yeni projeler geliştirilecektir.
                    15 HAZİRAN 2021 / ANKARA, Hacettepe Üniversitesi
                </p>
                <a href="#" class="btn btn-default btn-xl">KATILIM İÇİN</a>
            </div>
        </div>
    </div>
</section>
